body {
	font-family: Helvetica, Tahoma, Arial;
	margin: 0 0 0 0;
}

div#gallery {
	width: 974px;
	height: 732px;
}

div#gallery img.photo {
	padding: 7px;
	background: white;
	border: 1px solid gray;
	vertical-align: middle;
}

div#gallery img.thumb {
	vertical-align: text-top;
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
}

div#gallery div.body {
	height: 551px;
	width: 974px;
	
	background: url('bg_body.png');
	
	display:table-cell;
	vertical-align:middle
}

div#gallery div.header {
	height: 56px;
	
	background: url('bg_header.png');
}

div#gallery div.prev {
	width: 95px;
	text-align: left;
	float: left;
}

div#gallery div.title {
	color: white;
	font-size: 190%;
	width: 784px;
	float: left;
	padding-top: 12px;
}

div#gallery div.next {
	width: 95px;
	float: left;
}

div#gallery div.thumbs {
	height: 124px;
	background: url('bg_thumbs.png');	
}

div#gallery div.thumbs img {
	border: 3px solid white;
}

div#gallery div.thumbs img.selected {
	border: 5px solid #82E4F5;
}

div#gallery div.caption {
	font-size: 140%;
	color: #383838;
}

div#gallery div.location {
	font-size: 90%;
	color: #575757;
}

div#gallery div.legend {
	margin-top: 6px;
}

div#gallery div {
	text-align: center;	
}